{% extends "base.html" %}
{% block body %}
<div class="jumbotron" style="padding-bottom:12px">
    <table class="table">
        <tr>
            <th>系统名称</th>
            <th>负责人</th>
            <th>运行情况</th>
            <th>bug情况</th>
        </tr>
        {% for tuple in list %}
        <tr>
            <td>{{ tuple[0].system_name }}</td>
            <td>{{ tuple[1].name }}</td>
            <td>{{ tuple[0].status }}</td>
            <td>{{ tuple[0].bugs }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}