{% extends "base.html" %}
{% block body %}
<div class="jumbotron">
    <h1>注册</h1>
    <form class="form-signin" action="/signUp" method="post">
        <label for="inputName" class="sr-only">中文姓名</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="中文姓名" required autofocus>
        <label for="inputUserName" class="sr-only">用户名</label>
        <input name="inputUserName" id="inputUserName" class="form-control" placeholder="用户名" required>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="密码" required>

        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
    </form>
</div>
{% endblock %}