{% extends "base.html" %}
{% block body %}
<div class="jumbotron">
    <h1>登录</h1>
    <form class="form-signin" action="/validateLogin" method="post">
        <label for="inputUserName" class="sr-only">用户名</label>
        <input name="inputUserName" id="inputUserName" class="form-control" placeholder="用户名" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="密码" required>
        <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    </form>
</div>
{% endblock %}